<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE-edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <title>Practicando Vue Js</title>
</head>
<body id="app">
  <script src="vue.js"></script>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">

        <form @submit="signUp(false,$event)">
            <div v-show="usuario">
                <h1>{{ sexo == 'M' ? 'Bienvenido' : 'Bienvenida'}}, {{usuario}}</h1>
                <p>Texto de prueba</p>
            </div>
                <p v-else>Texto de Prueba 2</p>

            <input type="text" v-model="usuario" class="form-control">

            <select v-model="sexo" class="form-control">
              <option value="M">Masculino</option>
              <option value="F">Femenino</option>
            </select>

            <p v-show="usuario">
              <button type="submit" class="btn btn-primary">Registrar</button>
            </p>
            <p v-show="usuario">
              <button type="submit" class="btn btn-primary" v-on:click="signUp(true, $event)">Registrar y salir del sistema</button>
            </p>

            <p>Cuantos años de experiencia tienes con PHP?</p>
            <p>Respuesta: {{years_php}}
                <button  type="button" class="btn" v-on:click="addYear">+</button>
                <button type="button" class="btn" v-on:click="subYear">-</button>
            </p>


        <hr>
            <p v-if="usuario == ''" class="alert alert-danger">
                Campo obligatorio
            </p>

            <p v-if="usuario.length < 2" class="alert alert-danger">nombre no valido</p>

          </form>
        <div class="well">


      <pre>{{ $data | json }}</pre>
        </div>
        </div>
</div>

  <script type="text/javascript">

    new Vue({

        el:'#app',
        data:{
          usuario: "",
          sexo: '',
          years_php: 0
        },
        methods:{
            signUp: function (logout, event){
                event.preventDefault();
                alert(this.usuario+ ',Gracias por registrarte');

                if(logout){
                    alert("saliendo del sistema");
                }
            },

            addYear : function(){
                this.years_php ++;
            },

            subYear : function(){
                if(this.years_php > 0){
                  this.years_php --;
                }
            }

        }



    });


  </script>

</body>
</html>
